*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: inherit;
}

/* ヘッダー */
.header-color{
  background-color: #00bcd4;
  padding: 20px 16px;
  margin: 0;
}
.header-menu{
  color: #ffffff;
}

.header-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.header-nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.header-nav a:hover {
  color: #007bff;
}

/* メニュー部分 */
.menu {
  height: calc(100vh - 80px);
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 0;
}

.content {
  width: 80%;
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu a:hover {
  color: #007bff;
}

/* アラームのバッジ */
.badge {
  background-color: red;
  color: white;
  font-size: 10px;
  line-height: 1;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -10px;
}

.alarm-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}