*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダーのスタイル */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00bcd4;
  color: white;
  margin: 0;
  padding: 20px 16px;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.header-nav li {
  margin: 0 10px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-nav a:hover {
  color: #007bff;
}

.container {
  display: flex;
  height: 100vh;
  margin-top: 0;
}

/* メニュー部分 */
.menu {
  width: 10%;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 0;
}

.content {
  width: 80%;
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu a:hover {
  color: #007bff;
}

/* アラームのバッジ */
.badge {
  background-color: red;
  color: white;
  font-size: 10px;
  line-height: 1;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -10px;
}

.alarm-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}